body {
  background-color: #2694ab;
  color: #fdc4b6;
  font-family: cursive;
}

.card {
  width: 30rem;
  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
  border: solid 1px black;
  border-radius: 1rem;
  background-color: #ea7070;
}

img {
  width: 100%;
  border-radius: 1rem;
}
